# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.dSYM
*.sh
.vscode
.DS_Store

lecture-code/maxtwo/maxtwo
lecture-code/helloworld/helloworld
lecture-code/pointers/pointers
lecture-code/classes/mypoint

hw/sieve/sieve

labs/sqrt/sqrt
labs/student/student

testing
